<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>人工智能预测亲密关系算法学习-建议反馈</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/pro.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/jquery.form.js"></script>
    <script src="../../static/js/my_pro.js"></script>
    <script>
        function like_advice() {
            var like = document.getElementById("like_advice");
            var dislike = document.getElementById("dislike_advice");
            var like_level = document.getElementById("like_level");
            dislike.style.backgroundColor = "#ccc";
            like.style.backgroundColor = "red";
            like_level.value = 1;
        }

        function dislike_advice() {
            var like = document.getElementById("like_advice");
            var dislike = document.getElementById("dislike_advice");
            var like_level = document.getElementById("like_level");
            dislike.style.backgroundColor = "red";
            like.style.backgroundColor = "#ccc";
            like_level.value = 0;
        }
    </script>
</head>
<body>
<h2 align="center" style="max-width: 968px; margin-left: 7%;">人工智能预测亲密关系算法学习</h2>
<h6 style="text-align: right; max-width: 968px; margin-right: 5%">样本ID: {{ sample_id }}</h6>
<p style="margin-left: 9%; margin-right: 9%; max-width: 968px;">
    <strong>为什么做这项工作：</strong><br>
    从心理学的角度我们能够分析、评测两个人的亲密关系，现在我们希望通过AI（人工智能）学习，从各位专家的评判结果中，整合出一套心理学智能算法，运用算法去服务更多的人，让他们受用于心理学。
    在此需要各位心理学专家能够通过用户1和用户2的一些基本信息，以及用户1对双方关系的测试回答结果，用你们专业的知识与经验，来评判双方各个维度的指标大小，以及一些行为上的预测。
    <br>
    <strong>注意事项：</strong><br>
    1.填写问卷前需要各位首先记录您所回答的问卷样本ID（窗口右上角），此ID唯一，也会作为您提交问卷数量的凭证，所以问卷完整提交前请勿刷新。请务必做好ID记录，谢谢！<br>
    2.每一分样本数据需要各位打4轮（即提交4次），第一轮为基础打分，后几轮需根据一些建议、事件来评判各维度的变化情况，最后一轮提交后系统会自动刷新一份新的样本（即出现一个新ID）。<br>
    3.希望专家能够以严谨的科学依据和丰富的临床经验进行评判，为心理学在新科技领域的进步贡献一份力量，感谢！
</p>
<hr/>
<div class="container" style="margin-left: 8%; margin-right: 8%; max-width: 968px;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h5 style="font-weight: bolder">一、以下内容是关于用户的基本信息和MBTI分数</h5>

            <table style="display: inline-table; width: 968px">
                <tr>
                    <td style="width: 60%">
                        <table class="table">
                            {% if basic_data %}
                            <thead>
                            <tr class="table-primary" style="text-align: center;">
                                <th style="width: 36%;">
                                    用户属性
                                </th>
                                <th style="width: 32%">
                                    用户1
                                </th>
                                <th style="width: 32%">
                                    用户2
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for p1_k, p1_v in basic_data['p1'].items() %}
                            <input id="user_sex" type="hidden" value="{{ basic_data['p1']['用户性别'] }}" name="user_sex">
                            <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                                {% if len(p1_k) > 12 %}
                                <td style="line-height: 100%">
                                    {{ p1_k }}
                                    {% else %}
                                <td>
                                    {{ p1_k }}
                                    {% end %}
                                </td>
                                {% if basic_data['p1']['用户性别'] == '女' %}
                                <td style="background-color: pink">
                                    {% else %}
                                <td style="background-color: lightgrey">
                                    {% end %}
                                    {{ p1_v }}
                                </td>

                                {% if basic_data['p2']['用户性别'] == '女' %}
                                <td style="background-color: pink">
                                    {% else %}
                                <td style="background-color: lightgrey">
                                    {% end %}
                                    {{ basic_data['p2'][p1_k] }}
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                            {% end %}
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <tr class="table-secondary" style="line-height: 80%; font-size: 15px; height: 641px;">
                                <td style="vertical-align: middle;">
                                    <h5>简要说明</h5>
                                    <p>E：外向，从与别人的互动中和行动中取得动力</p>
                                    <p>I：内向，从反思自己的想法及记忆和感受中取得动力</p>
                                    <p>S：感觉，喜欢专注于获得的资讯及其实践应用</p>
                                    <p>N：直觉，相信灵感和推理，关注可能的含义</p>
                                    <p>F：情感，根据价值观做决定及考虑什么对人重要</p>
                                    <p>T：思考，根据逻辑和因果关系的客观分析来做决定</p>
                                    <p>J：判断，有计划有条理的生活方式，喜欢井井有条</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <!-- others -->
            <h5 style="font-weight: bolder">二、以下内容是用户1对该段关系(用户1与用户2的关系)的状态描述</h5>
            <table style="display: inline-table;width: 968px;">
                <tr>
                    <td style="width: 50%">
                        <table class="table">
                            <thead>
                            <tr class="table-primary" style="text-align: center;">
                                <th width="24%">
                                    亲密关系相关行为和心态
                                </th>
                                <th width="26%">
                                    用户1的回答
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set len_common = int(len(common_data) / 2) %}
                            {% for common1 in common_data[:len_common]%}
                            {% for k_1, v_1 in common1.items() %}
                            <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                                <td>
                                    {{ k_1 }}
                                </td>
                                <td style="background-color: lightgrey;">
                                    {{ v_1 }}
                                </td>
                            </tr>
                            {% end %}
                            {% end %}
                            </tbody>
                        </table>
                    </td>
                    <td style="width: 50%">
                        <table class="table">
                            <thead>
                            <tr class="table-primary" style="text-align: center;">
                                <th width="24%">
                                    亲密关系相关行为和心态
                                </th>
                                <th width="26%">
                                    用户1的回答
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for common2 in common_data[len_common:]%}
                            {% for k_2, v_2 in common2.items() %}
                            <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                                <td>
                                    {{ k_2 }}
                                </td>
                                <td style="background-color: lightgrey;">
                                    {{ v_2 }}
                                </td>
                            </tr>
                            {% end %}
                            {% end %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form method="post" name="myForm" enctype="multipart/form-data" id="myForm" action="/advice" style="width: 968px">
        <input id="sampleID" type="hidden" value="{{ sample_id }}" name="sampleID">
        <div class="form-group" style="width: 968px">
            <strong style="font-size: large">
                上次阶段判断结果:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                                type="text" value="{{ last_stage }}" name="last_stage" readonly required="required">
                <br>

                最近发生的事件:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                               type="text" value="{{ happen_thing['最近发生的事件'] }}" name="最近发生的事件" readonly
                               required="required">
                <br>
                发生该事件时的心情: <input style="font-size: larger;border: none; height: auto; width: 900px; color: red;"
                                  type="text" value="{{ happen_thing['发生该事件时的心情'] }}" name="发生该事件时的心情" readonly
                                  required="required">
                <br>
                过往建议条数: <input style="font-size: larger;border: none; height: auto; width: 900px; color: red;"
                               type="text"
                               value="{{ had_advices }}条" disabled="disabled">
                <br>
                本次建议方向:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                              type="text" value="{{ advice['建议方向'] }}" name="建议方向" readonly
                              required="required">
                <br>
                建议具体行为:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                              type="text" value="{{ advice['具体行为'] }}" name="具体行为" readonly
                              required="required">

                <br>
                觉得本次建议如何(
                <nobr style="color: red;">务必点选</nobr>
                ):
                <input type="hidden" name="like_level" id="like_level" required="required"
                       oninvalid="setCustomValidity('请选择对该建议的观点')">

                <div style="width: 500px">
                    <div style="width:30px; height:30px; background-color:#ccc; border-radius:15px; float: left;"
                         onclick="like_advice()" id="like_advice" name="like_advice">
                        <span style="height:30px; line-height:30px; display:block; color:#FFF; text-align:center">赞</span>
                    </div>
                    <div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="width:30px; height:30px; background-color:#ccc; border-radius:15px; float: left;"
                         onclick="dislike_advice()" id="dislike_advice" name="dislike_advice">
                        <span style="height:30px; line-height:30px; display:block; color:#FFF; text-align:center">踩</span>
                    </div>
                </div>
                <br>
            </strong>
            <br>

            <h5>三、请判断所给建议是否影响了用户1和用户2的感情阶段、接触程度及相处模式</h5>
            {% for quantity in prepare_score['定性分析'] %}
            {% for liang_t4, liang_t_v4 in quantity.items() %}
            <h6>{{ liang_t4 }}</h6>
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%">标签</th>
                    <th style="width: 70%"> 判断</th>
                </tr>
                </thead>
                <tbody>
                {% for liang_i4 in liang_t_v4 %}
                <tr class="table-info-w">
                    <td>
                        {{ liang_i4['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for liang_e4 in liang_i4['evaluate'] %}
                        <a style="border: 0.05px dashed;"
                           id="a_{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}"
                           name="{{ liang_t4 }}_{{ liang_i4['name'] }}">
                            <input type="radio" value="{{ liang_e4['point'] }}"
                                   name="{{ liang_t4 }}_{{ liang_i4['name'] }}"
                                   id="{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}"
                                   id="label_{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}">
                                {{ liang_e4['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                </tbody>
                {% end %}
            </table>
            {% end %}
            {% end %}

            <h5>四、请判断所给建议是否影响了用户1和用户2在下列几个心理学维度上的关系数值</h5>
            {% for liang in prepare_score['定量分析（双方数值）'] %}
            {% for liang_t, liang_t_v in liang.items() %}
            <h6>{{ liang_t }}</h6>
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for liang_i in liang_t_v %}
                <tr class="table-info-w">
                    <td>
                        {{ liang_i['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for liang_e in liang_i['evaluate'] %}
                        <a style="border: 0.05px dashed;"
                           id="a_{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}"
                           name="{{ liang_t }}_{{ liang_i['name'] }}">
                            <input type="radio" value="{{ liang_e['point'] }}"
                                   name="{{ liang_t }}_{{ liang_i['name'] }}"
                                   id="{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}"
                                   id="label_{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}">
                                {{ liang_e['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                </tbody>
                {% end %}
            </table>
            {% end %}
            {% end %}

            <h5>五、请判断所给建议是否影响了以下行为对该段关系的促进程度、破坏程度及发生概率</h5>
            1.请判断所给建议是否影响了下列行为对该段关系的促进程度
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for score_k1, score_v1 in prepare_score.items()%}

                {% for qita1 in score_v1 %}
                {% for t1, t_v1 in qita1.items() %}
                {% if t1 == '对关系促进程度' %}
                {% for i1 in t_v1 %}
                <tr class="table-info-w">
                    <td>
                        {{ i1['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for e1 in i1['evaluate'] %}
                        <a style="border: 0.05px dashed;" id="a_{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}"
                           name="{{ t1 }}_{{ i1['name'] }}">
                            <input type="radio" value="{{ e1['point'] }}" name="{{ t1 }}_{{ i1['name'] }}"
                                   id="{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}"
                                   id="label_{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}">
                                {{ e1['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                {% end %}
                {% end %}
                {% end %}
                {% end %}

                {% end %}
                </tbody>
            </table>

            2.请判断所给建议是否影响了下列行为对该段关系的破坏程度
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for score_k2, score_v2 in prepare_score.items()%}

                {% for qita2 in score_v2 %}
                {% for t2, t_v2 in qita2.items() %}
                {% if t2 == '危机影响程度' %}
                {% for i2 in t_v2 %}
                <tr class="table-info-w">
                    <td>
                        {{ i2['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for e2 in i2['evaluate'] %}
                        <a style="border: 0.05px dashed;" id="a_{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}"
                           name="{{ t2 }}_{{ i2['name'] }}">
                            <input type="radio" value="{{ e2['point'] }}" name="{{ t2 }}_{{ i2['name'] }}"
                                   id="{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}"
                                   id="label_{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}">
                                {{ e2['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                {% end %}
                {% end %}
                {% end %}
                {% end %}

                {% end %}
                </tbody>
            </table>
            3.请判断所给建议是否影响了下列行为在该段关系中的发生概率
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for score_k3, score_v3 in prepare_score.items()%}

                {% for qita3 in score_v3 %}
                {% for t3, t_v3 in qita3.items() %}
                {% if t3 == '危机爆发概率' %}
                {% for i3 in t_v3 %}
                <tr class="table-info-w">
                    <td>
                        {{ i3['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for e3 in i3['evaluate'] %}
                        <a style="border: 0.05px dashed;" id="a_{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}"
                           name="{{ t3 }}_{{ i3['name'] }}">
                            <input type="radio" value="{{ e3['point'] }}" name="{{ t3 }}_{{ i3['name'] }}"
                                   id="{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}"
                                   id="label_{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}">
                                {{ e3['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                {% end %}
                {% end %}
                {% end %}
                {% end %}

                {% end %}
                </tbody>
            </table>

        </div>
        <h6>
            注意: 点击“提交”按钮, 将提交本页面数据, 并重新生成新建议供您填写其反馈影响;<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h6>
        <input type="submit" class="btn btn-outline-dark btn-dark" id="commit_btn" value="{{ commit_value }}"/>
    </form>

</div>

<script language="javascript">
    document.onkeydown = function (e) {
        var ev = window.event || e;
        var code = ev.keyCode || ev.which;
        if (code == 116) {
            ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
            cancelBubble = true;
            return false;
        }
    };//禁止F5刷新
</script>

</body>
</html>