<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>问卷首页</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/pro.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/jquery.form.js"></script>
    <script src="../../static/js/my_pro.js"></script>
    <script>
        function like_advice() {
            var like = document.getElementById("like_advice");
            var dislike = document.getElementById("dislike_advice");
            var like_level = document.getElementById("like_level");
            dislike.style.backgroundColor = "#ccc";
            like.style.backgroundColor = "red";
            like_level.value = 1;
        }

        function dislike_advice() {
            var like = document.getElementById("like_advice");
            var dislike = document.getElementById("dislike_advice");
            var like_level = document.getElementById("like_level");
            dislike.style.backgroundColor = "red";
            like.style.backgroundColor = "#ccc";
            like_level.value = 0;
        }
    </script>
</head>
<body onload="show_score()">
<h1 align="center">问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卷</h1>
<h6 style="text-align: right; margin-right: 8% ">样本ID: {{ sample_id }}</h6>
<hr/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h5 style="font-weight: bolder">一、以下内容是关于用户的基本信息和MBTI分数</h5>
            <table class="table" style="width: 968px">
                {% if basic_data %}
                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th style="width: 30%;">
                        用户属性
                    </th>
                    <th style="width: 35%">
                        用户1
                    </th>
                    <th style="width: 35%">
                        用户2
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for p1_k, p1_v in basic_data['p1'].items() %}
                <input id="user_sex" type="hidden" value="{{ basic_data['p1']['用户性别'] }}" name="user_sex">
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ p1_k }}
                    </td>
                    {% if basic_data['p1']['用户性别'] == '女' %}
                    <td style="background-color: pink">
                        {% else %}
                    <td style="background-color: lightgrey">
                        {% end %}
                        {{ p1_v }}
                    </td>

                    {% if basic_data['p2']['用户性别'] == '女' %}
                    <td style="background-color: pink">
                        {% else %}
                    <td style="background-color: lightgrey">
                        {% end %}
                        {{ basic_data['p2'][p1_k] }}
                    </td>
                </tr>
                {% end %}
                </tbody>
                {% end %}
            </table>
            <!-- others -->
            <h5 style="font-weight: bolder">二、以下内容是用户1对该段关系(用户1与用户2的关系)的状态描述</h5>
            <table style="display: inline-table;width: 968px;">
                <tr>
                    <td style="width: 50%">
                        <table class="table">
                            <thead>
                            <tr class="table-primary" style="text-align: center;">
                                <th width="24%">
                                    亲密关系相关行为和心态
                                </th>
                                <th width="26%">
                                    用户1的回答
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for common1 in common_data[:20]%}
                            {% for k_1, v_1 in common1.items() %}
                            <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                                <td>
                                    {{ k_1 }}
                                </td>
                                <td style="background-color: lightgrey;">
                                    {{ v_1 }}
                                </td>
                            </tr>
                            {% end %}
                            {% end %}
                            </tbody>
                        </table>
                    </td>
                    <td style="width: 50%">
                        <table class="table">
                            <thead>
                            <tr class="table-primary" style="text-align: center;">
                                <th width="24%">
                                    亲密关系相关行为和心态
                                </th>
                                <th width="26%">
                                    用户1的回答
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for common2 in common_data[20:]%}
                            {% for k_2, v_2 in common2.items() %}
                            <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                                <td>
                                    {{ k_2 }}
                                </td>
                                <td style="background-color: lightgrey;">
                                    {{ v_2 }}
                                </td>
                            </tr>
                            {% end %}
                            {% end %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form method="post" name="myForm" enctype="multipart/form-data" id="myForm" action="/advice" style="width: 968px">
        <input id="sampleID" type="hidden" value="{{ sample_id }}" name="sampleID">
        <div class="form-group" style="width: 968px">
            <strong style="font-size: large">
                最近发生的事件:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                               type="text" value="{{ happen_thing['最近发生的事件'] }}" name="最近发生的事件" readonly required="required">
                <br>
                发生该事件时的心情: <input style="font-size: larger;border: none; height: auto; width: 900px; color: red;" type="text" value="{{ happen_thing['发生该事件时的心情'] }}" name="发生该事件时的心情" readonly required="required">
                <br>
                过往建议条数: <input style="font-size: larger;border: none; height: auto; width: 900px; color: red;" type="text"
                               value="{{ had_advices }}条" disabled="disabled">
                <br>
                本次建议方向:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                              type="text" value="{{ advice['建议方向'] }}" name="建议方向" disabled="disabled"
                              required="required">
                <br>
                建议具体行为:<input style="font-size: larger;border: none; color: red; height: auto; width: 900px;"
                              type="text" value="{{ advice['具体行为'] }}" name="具体行为" disabled="disabled"
                              required="required">

                <br>
                觉得本次建议如何(<nobr style="color: red;">务必点选</nobr>):
                <input type="hidden" name="like_level" id="like_level" required="required" oninvalid="setCustomValidity('请选择对该建议的观点')">

                <div style="width: 500px">
                    <div style="width:30px; height:30px; background-color:#ccc; border-radius:15px; float: left;"
                         onclick="like_advice()" id="like_advice" name="like_advice">
                        <span style="height:30px; line-height:30px; display:block; color:#FFF; text-align:center">赞</span>
                    </div>
                    <div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <div style="width:30px; height:30px; background-color:#ccc; border-radius:15px; float: left;"
                         onclick="dislike_advice()" id="dislike_advice" name="dislike_advice">
                        <span style="height:30px; line-height:30px; display:block; color:#FFF; text-align:center">踩</span>
                    </div>
                </div>
                <br>
            </strong>
            <br>

            <h5>三、请判断所给建议是否影响了用户1和用户2接触程度及相处模式</h5>
            {% for quantity in prepare_score['定性分析'] %}
            {% for liang_t4, liang_t_v4 in quantity.items() %}
            <h6>{{ liang_t4 }}</h6>
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%">标签</th>
                    <th style="width: 70%"> 判断</th>
                </tr>
                </thead>
                <tbody>
                {% for liang_i4 in liang_t_v4 %}
                <tr class="table-info-w">
                    <td>
                        {{ liang_i4['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for liang_e4 in liang_i4['evaluate'] %}
                        <a style="border: 0.05px dashed;"
                           id="a_{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}"
                           name="{{ liang_t4 }}_{{ liang_i4['name'] }}">
                            <input type="radio" value="{{ liang_e4['point'] }}"
                                   name="{{ liang_t4 }}_{{ liang_i4['name'] }}"
                                   id="{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}"
                                   id="label_{{ liang_t4 }}_{{ liang_i4['name'] }}_{{ liang_e4['point'] }}">
                                {{ liang_e4['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                </tbody>
                {% end %}
            </table>
            {% end %}
            {% end %}

            {% if last_stage %}
            上次阶段判断结果:{{ last_stage }}
            {% end %}

            <h6 style="font-weight: bold">本次阶段判断:<br></h6>
            <select id="now_stage" name="now_stage" class="custom-select form-control" required="required">
                {% for stage in stages %}
                {% if stage== last_stage %}
                <option value="{{ stage }}" selected>{{ stage }}</option>
                {% else %}
                <option value="{{ stage }}">{{ stage }}</option>
                {% end %}
                {% end %}
            </select>
            <br>
            <br>

            <h5>四、请判断所给建议是否影响了用户1和用户2在下列几个心理学维度上的关系数值</h5>
            {% for liang in prepare_score['定量分析（双方数值）'] %}
            {% for liang_t, liang_t_v in liang.items() %}
            <h6>{{ liang_t }}</h6>
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for liang_i in liang_t_v %}
                <tr class="table-info-w">
                    <td>
                        {{ liang_i['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for liang_e in liang_i['evaluate'] %}
                        <a style="border: 0.05px dashed;"
                           id="a_{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}"
                           name="{{ liang_t }}_{{ liang_i['name'] }}">
                            <input type="radio" value="{{ liang_e['point'] }}"
                                   name="{{ liang_t }}_{{ liang_i['name'] }}"
                                   id="{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}"
                                   id="label_{{ liang_t }}_{{ liang_i['name'] }}_{{ liang_e['point'] }}">
                                {{ liang_e['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                </tbody>
                {% end %}
            </table>
            {% end %}
            {% end %}

            <h5>五、请判断所给建议是否影响了以下行为对该段关系的促进程度、破坏程度及发生概率</h5>
            1.请判断所给建议是否影响了下列行为对该段关系的促进程度
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for score_k1, score_v1 in prepare_score.items()%}

                {% for qita1 in score_v1 %}
                {% for t1, t_v1 in qita1.items() %}
                {% if t1 == '对关系促进程度' %}
                {% for i1 in t_v1 %}
                <tr class="table-info-w">
                    <td>
                        {{ i1['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for e1 in i1['evaluate'] %}
                        <a style="border: 0.05px dashed;" id="a_{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}"
                           name="{{ t1 }}_{{ i1['name'] }}">
                            <input type="radio" value="{{ e1['point'] }}" name="{{ t1 }}_{{ i1['name'] }}"
                                   id="{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}"
                                   id="label_{{ t1 }}_{{ i1['name'] }}_{{ e1['point'] }}">
                                {{ e1['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                {% end %}
                {% end %}
                {% end %}
                {% end %}

                {% end %}
                </tbody>
            </table>

            2.请判断所给建议是否影响了下列行为对该段关系的破坏程度
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for score_k2, score_v2 in prepare_score.items()%}

                {% for qita2 in score_v2 %}
                {% for t2, t_v2 in qita2.items() %}
                {% if t2 == '危机影响程度' %}
                {% for i2 in t_v2 %}
                <tr class="table-info-w">
                    <td>
                        {{ i2['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for e2 in i2['evaluate'] %}
                        <a style="border: 0.05px dashed;" id="a_{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}"
                           name="{{ t2 }}_{{ i2['name'] }}">
                            <input type="radio" value="{{ e2['point'] }}" name="{{ t2 }}_{{ i2['name'] }}"
                                   id="{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}"
                                   id="label_{{ t2 }}_{{ i2['name'] }}_{{ e2['point'] }}">
                                {{ e2['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                {% end %}
                {% end %}
                {% end %}
                {% end %}

                {% end %}
                </tbody>
            </table>
            3.请判断所给建议是否影响了下列行为在该段关系中的发生概率
            <table class="table" style="text-align: center; font-size: 14px">
                <thead>
                <tr class="table-primary" style="line-height: 50%">
                    <th style="width: 30%"> 名称</th>
                    <th style="width: 70%"> 评价</th>
                </tr>
                </thead>
                <tbody>
                {% for score_k3, score_v3 in prepare_score.items()%}

                {% for qita3 in score_v3 %}
                {% for t3, t_v3 in qita3.items() %}
                {% if t3 == '危机爆发概率' %}
                {% for i3 in t_v3 %}
                <tr class="table-info-w">
                    <td>
                        {{ i3['name'] }}
                    </td>
                    <td style="background-color: lightgrey;">
                        {% for e3 in i3['evaluate'] %}
                        <a style="border: 0.05px dashed;" id="a_{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}"
                           name="{{ t3 }}_{{ i3['name'] }}">
                            <input type="radio" value="{{ e3['point'] }}" name="{{ t3 }}_{{ i3['name'] }}"
                                   id="{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}"
                                   onchange="radio_select(this.id, this.name)" required="required"/>
                            <label for="{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}"
                                   id="label_{{ t3 }}_{{ i3['name'] }}_{{ e3['point'] }}">
                                {{ e3['level'] }}
                            </label>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% end %}
                    </td>
                </tr>
                {% end %}
                {% end %}
                {% end %}
                {% end %}

                {% end %}
                </tbody>
            </table>

        </div>
        <h6>
            注意: 点击“提交”按钮, 将提交本页面数据, 并重新生成新建议供您填写其反馈影响;<br>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h6>
        <input type="submit" class="btn btn-outline-dark btn-dark" id="commit_btn" value="{{ commit_value }}"/>
    </form>

</div>

<script language="javascript">
    document.onkeydown = function (e) {
        var ev = window.event || e;
        var code = ev.keyCode || ev.which;
        if (code == 116) {
            ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
            cancelBubble = true;
            return false;
        }
    };//禁止F5刷新
</script>

</body>
</html>