<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人工智能预测亲密关系算法学习-完成所有样本打分</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2>
                所有样本均已打分完毕,谢谢您的辛勤工作
            </h2>
            <p>
                <strong>为什么做这项工作:</strong><br>
                从心理学的角度我们能够分析、评测两个人的亲密关系，现在我们希望通过AI（人工智能）学习，从各位专家的评判结果中，整合出一套心理学智能算法，运用算法去服务更多的人，让他们受用于心理学。
                在此需要各位心理学专家能够通过用户1和用户2的一些基本信息，以及用户1对双方关系的测试回答结果，用你们专业的知识与经验，来评判双方各个维度的指标大小，以及一些行为上的预测。
                <br>
                <strong>注意事项:</strong><br>
                1.填写问卷前需要各位首先记录您所回答的问卷样本ID（窗口右上角），此ID唯一，也会作为您提交问卷数量的凭证，所以问卷完整提交前请勿刷新。请务必做好ID记录，谢谢！<br>
                2.每一分样本数据需要各位打4轮（即提交4次），第一轮为基础打分，后几轮需根据一些建议、事件来评判各维度的变化情况，最后一轮提交后系统会自动刷新一份新的样本（即出现一个新ID）。<br>
                3.希望专家能够以严谨的科学依据和丰富的临床经验进行评判，为心理学在新科技领域的进步贡献一份力量，感谢！
            </p>
        </div>
    </div>
</div>

</body>
</html>