<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>问卷首页</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/pro.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/jquery.form.js"></script>
    <script src="../../static/js/my_pro.js"></script>
</head>
<body onload="show_score()">
<h1 align="center">问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卷</h1>
<hr/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <table class="table">
                <h4>
                    样本信息
                </h4>
                <h5 class="text-warning">
                    注意:<br>
                    1.未提交前刷新页面会造成页面数据丢失<br>
                    2.提交前确认所有选项均已选择
                </h5>


                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        用户属性
                    </th>
                    <th>
                        属性参数
                    </th>
                </tr>
                </thead>

                {% if basic_data %}
                <tbody>

                {% for p1_k, p1_v in basic_data['p1'].items() %}
                <input id="user_sex" type="hidden" value="{{ basic_data['p1']['用户性别'] }}" name="user_sex">
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ p1_k }}
                    </td>
                    {% if basic_data['p1']['用户性别'] == '女' %}
                    <td style="background-color: pink">
                        {% else %}
                    <td style="background-color: lightgrey">
                        {% end %}
                        {{ p1_v }}
                    </td>
                </tr>
                {% end %}
                </tbody>
                {% end %}

                <td></td>

                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        对方属性
                    </th>
                    <th>
                        属性参数
                    </th>
                </tr>
                </thead>

                {% if basic_data %}
                <tbody>
                {% for p2_k, p2_v in basic_data['p2'].items() %}
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ p2_k }}
                    </td>
                    {% if basic_data['p2']['对方性别'] == '女' %}
                    <td style="background-color: pink">
                        {% else %}
                    <td style="background-color: lightgrey">
                        {% end %}
                        {{ p2_v }}
                    </td>
                </tr>
                {% end %}

                </tbody>
                {% end %}

                <td></td>

                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        标签名称
                    </th>
                    <th>
                        标签参数
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if common_data %}
                {% for k,v in common_data.items() %}
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ k }}
                    </td>
                    <td style="background-color: lightgrey">
                        {{ v }}
                    </td>
                </tr>
                {% end %}
                {% end %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 column">
            {% if done_actions %}
            <div class="alert alert-success alert-dismissable" id="done_act" name="done_act">
                <h4>已提交</h4>
                <ol id="history_action">
                    <li>
                        Lorem ipsum dolor sit amet
                    </li>
                </ol>
            </div>
            {% end %}
            <form method="post" name="myForm" enctype="multipart/form-data" id="myForm">
                <input id="sampleID" type="hidden" value="{{ sample_id }}" name="sampleID">
                <div class="form-group">
    <!--行为-->
                    {% if actions %}
                    <!-- 所有行为 -->
                    {% for stage,stage_v in actions[{{ basic_data['p1']['用户性别'] }}].items() %}
                    {% for all_act in stage_v %}
                    <select id="advice_direction" name="建议方向" onChange="acion_select(this.selectedIndex)" required>
                        <option selected>请选择</option>
                        {% for acts in all_act['建议方向'] %}
                        <option value="{{ acts }}">{{ acts }}</option>
                        {% end %}
                    </select>
                    <select id="advice_details" name="具体行为" required>
                        <option selected>请选择</option>
                    </select>

                    {% end %}
                    {% end %}

                    <!-- 阶段选择 -->
                    <select name="now_stage" id="now_stage">
                        {% for one_stage in actions[{{ basic_data['p1']['用户性别'] }}] %}
                        <option value="{{ stage }}">{{ one_stage }}</option>
                        {% end %}
                    </select>
                    {% end %}
    <!-- 评分 -->
                    {% if prepare_score %}
                    {% for p, p_v in prepare_score.items() %}
                    <h4 style="line-height: 90%">
                        {{ p }}
                    </h4>
                    {% for d in p_v %}
                    {% for t, t_v in d.items() %}
                    <h5 style="line-height: 50%">
                        类型: {{ t }}
                    </h5>

                    <table class="table" style="text-align: center; font-size: 14px">
                        <thead>
                        <tr class="table-primary" style="line-height: 50%">
                            <th>
                                名称
                            </th>
                            <th>
                                评价
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in t_v %}
                        <tr class="table-info-w">
                            <td>
                                {{ i['name'] }}
                            </td>
                            <td style="background-color: lightgrey;">
                                {% for e in i['evaluate'] %}
                                <a style="border: 0.05px dashed;" id="a_{{ t }}_{{ i['name'] }}_{{ e['point'] }}" name="{{ t }}_{{ i['name'] }}">
                                    <input type="radio" value="{{ e['point'] }}" name="{{ t }}_{{ i['name'] }}" id="{{ t }}_{{ i['name'] }}_{{ e['point'] }}" onchange="radio_select(this.id, this.name)">
                                    <label for="{{ t }}_{{ i['name'] }}_{{ e['point'] }}" id="label_{{ t }}_{{ i['name'] }}_{{ e['point'] }}">
                                        {{ e['level'] }}
                                    </label>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                {% end %}
                            </td>
                        </tr>
                        </tbody>
                        {% end %}
                    </table>
                    {% end %}
                    {% end %}
                    {% end %}
                    <button type="button" class="btn btn-outline-dark btn-dark" id="score_btn" onclick="saveScore()>
                        打分
                    </button>
                    {% end %}
                </div>
                <button type="button" class="btn btn-outline-dark btn-dark" onclick="saveActions()" id="commit_btn">
                    提交
                </button>

                <button type="button" class="btn btn-outline-dark btn-dark" onclick="" id="finish_btn">
                    结束
                </button>
            </form>
        </div>
    </div>
</div>

<script language="javascript">
    document.onkeydown = function (e) {
        var ev = window.event || e;
        var code = ev.keyCode || ev.which;
        if (code == 116) {
            ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
            cancelBubble = true;
            return false;
        }
    };//禁止F5刷新
</script>

</body>
</html>