<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script>
        function DoAjax() {
            var tmp = $('#www').val();
            var sample_id = $('#sampleID').val();
            $.ajax({
                url: "/fresh",
                type: "POST",
                data: {operate: tmp, sample_id: sample_id},
                success: function (arg) {
                    var obj = jQuery.parseJSON(arg);
                    $('#eee').val(obj.operate);
                }
            })
        }

        function show_score() {
            $("#score_btn").show();
            $("#commit_btn").hide();
            $("#finish_btn").hide();
        }

        function show_commit() {
            $("#score_btn").hide();
            $("#commit_btn").show();
            $("#finish_btn").show();
        }

        function change_history_action() {
            var list_cell = document.getElementById("history_action").getElementsByTagName("li");
            var all_value = [];
            for (var i=0; i<list_cell.length; i++){
                all_value.push(list_cell[i].innerHTML);
            }
        }

        function submit_all () {
            document.myForm.action = "/test";
            document.myForm.submit();
        }

    </script>


</head>
<body onload="show_score()">
<label for="sampleID">
    <input id="sampleID" type="text" value="{{ sample_id }}" hidden>
</label>
<h3 align="center">问&nbsp;&nbsp;卷</h3>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <table class="table">
                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        标签名称
                    </th>
                    <th>
                        标签参数
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if data %}
                {% for k,v in data.items() %}
                <tr class="table-info" style="line-height: 50%; font-size: 15px">
                    <td >
                        {{ k }}
                    </td >
                    <td style="background-color: lightgrey">
                        {{ v }}
                    </td>
                </tr>
                {% end %}
                {% end %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 column">
            <div class="alert alert-success alert-dismissable">
                <h4>已提交</h4>
                <ol id="history_action">
                    <li>
                        Lorem ipsum dolor sit amet
                    </li>
                </ol>
            </div>
            <form role="form" method="post" name="myForm">
                <div class="form-group">
                    <label>
                        打分 &nbsp;
                        <select>
                            <option value="6">6</option>
                            <option value="6">6</option>
                            <option value="6">6</option>
                            <option value="6">6</option>
                        </select>
                    </label>
                </div>
                <button type="button" class="btn btn-outline-dark btn-dark" onclick="submit_all()" id="score_btn">
                    打分
                </button>

                <button type="button" class="btn btn-outline-dark btn-dark" onclick="" id="commit_btn">
                    提交
                </button>

                <button type="button" class="btn btn-outline-dark btn-dark" onclick="" id="finish_btn">
                    结束
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>