<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>推荐行为</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-select.css">
    <link rel="stylesheet" href="../../static/css/pro.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/jquery.form.js"></script>
    <script src="../../static/js/my_pro.js"></script>
    <script src="../../static/js/bootstrap-select.js"></script>
    <script src="../../static/js/jquery.validate.js"></script>
</head>
<body>
<h1 align="center">问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;卷</h1>
<hr/>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <table class="table">
                {% if basic_data %}
                <h4>
                    样本信息
                </h4>
                <h5 class="text-warning">
                    注意:<br>
                    1.未提交前刷新页面会造成页面数据丢失<br>
                    2.提交前确认所有选项均已选择
                </h5>

                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        用户属性
                    </th>
                    <th>
                        属性参数
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for p1_k, p1_v in basic_data['p1'].items() %}
                <input id="user_sex" type="hidden" value="{{ basic_data['p1']['用户性别'] }}" name="user_sex">
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ p1_k }}
                    </td>
                    {% if basic_data['p1']['用户性别'] == '女' %}
                    <td style="background-color: pink">
                        {% else %}
                    <td style="background-color: lightgrey">
                        {% end %}
                        {{ p1_v }}
                    </td>
                </tr>
                {% end %}
                </tbody>
                {% end %}

                <td></td>

                {% if basic_data %}
                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        用户属性
                    </th>
                    <th>
                        属性参数
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for p2_k, p2_v in basic_data['p2'].items() %}
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ p2_k }}
                    </td>
                    {% if basic_data['p2']['用户性别'] == '女' %}
                    <td style="background-color: pink">
                        {% else %}
                    <td style="background-color: lightgrey">
                        {% end %}
                        {{ p2_v }}
                    </td>
                </tr>
                {% end %}

                </tbody>
                {% end %}

                <td></td>

                {% if common_data %}
                <thead>
                <tr class="table-primary" style="text-align: center;">
                    <th>
                        标签名称
                    </th>
                    <th>
                        标签参数
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for k,v in common_data.items() %}
                <tr class="table-info" style="line-height: 80%; font-size: 15px;">
                    <td>
                        {{ k }}
                    </td>
                    <td style="background-color: lightgrey">
                        {{ v }}
                    </td>
                </tr>
                {% end %}
                </tbody>
                {% end %}
            </table>
        </div>
        <div class="col-md-6 column">
            <!-- 历史行为 -->
            <div class="alert alert-success alert-dismissable" id="done_act" name="done_act">
                <h4>过往建议行为(若需选择下一样本数据, 点击"结束"按钮即可)</h4>
                <ol id="history_actions" name="history_actions">
                </ol>
            </div>

            <form method="post" name="myForm_act" enctype="multipart/form-data" id="myForm_act" role="form"
                  action="/act">
                <input id="sampleID" type="hidden" value="{{ sample_id }}" name="sampleID">
                <input id="actNo" type="hidden" value="1" name="actNo">
                <div class="form-group">
                    <!--行为-->
                    {% if actions %}
                    <!-- 所有行为 -->
                    <h5><br>建议方向:<br></h5>
                    <select id="advice_direction" name="建议方向" onchange="acion_select(this.selectedIndex)"
                            class="custom-select form-control" required="required">
                        <option disabled selected>请选择</option>
                        {% for stage,stage_v in (actions[(basic_data['p1'])['用户性别']]).items() %}
                        {% for all_act in stage_v %}
                        <option value="{{ all_act['建议方向'] }}">{{ all_act['建议方向'] }}</option>
                        {% end %}
                        {% end %}
                    </select>
                    <br>
                    <h5><br>具体行为:<br></h5>
                    <select id="advice_details" name="具体行为" class="custom-select form-control" required="required">
                    </select>
                    <!-- 阶段选择 -->
                    <br>
                    <h5><br>阶段选择:<br></h5>
                    <select name="now_stage" id="now_stage" class="custom-select form-control" required="required">
                        <option disabled selected>请选择</option>
                        {% for one_stage in actions[(basic_data['p1'])['用户性别']] %}
                        <option value="{{ one_stage }}">{{ one_stage }}</option>
                        {% end %}
                    </select>
                    <br>
                    <br>
                    <input type="submit" class="btn btn-outline-dark btn-dark" id="commit_btn" value="提交"/>
                    <input type="button" class="btn btn-outline-dark btn-dark" onclick="window.location.href='/home'"
                           id="finish_btn" value="结束"/>

                    {% end %}
                </div>
            </form>
        </div>
    </div>
</div>

<script language="javascript">
    document.onkeydown = function (e) {
        var ev = window.event || e;
        var code = ev.keyCode || ev.which;
        if (code == 116) {
            ev.keyCode ? ev.keyCode = 0 : ev.which = 0;
            cancelBubble = true;
            return false;
        }
    };//禁止F5刷新
</script>

<script>
    $().ready(function () {
        $("#myForm_act").validate({
            onsubmit: true,// 是否在提交是验证
            onfocusout: false,// 是否在获取焦点时验证
            onkeyup: false,// 是否在敲击键盘时验证

            rules: {
                建议方向: {required: true, isNotDefaultNone: false},
                具体行为: {required: true, isNotDefaultNone: false},
                now_stage: {required: true, isNotDefaultNone: false}
            },
            messages: {
                建议方向: {required: "请选择建议方向",},
                具体行为: {required: "请选择具体行为"},
                now_stage: {required: "请选择所属阶段"}
            },
            submitHandler: function () {
                var options = {
                    url: "/act",
                    success: function (msg) {
                        var act_no = msg["act_no"];
                        var h_acts = msg["history_acts"];
                        actNo = document.getElementById("actNo");
                        actNo.value = act_no;

                        history_acts = document.getElementById("history_actions");
                        $("#history_actions li").remove();
                        // history_acts.removeChild();
                        for (var i = 0; i < h_acts.length; i++) {
                            var elem_li = document.createElement("li");
                            elem_li.innerHTML = h_acts[i];
                            history_acts.appendChild(elem_li);
                        }
                        return false;
                    },
                    error: function (msg) {
                        alert(msg["error"]);
                        return false;
                    },
                    clearForm: true,
                    restForm: true,
                    timeout: 100000
                };
                $("#myForm_act").ajaxSubmit(options);
            },
            invalidHandler: function () {
                return false;
            }
        });
    });

</script>

</body>
</html>